* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
}
@font-face {
    font-family: Robus;
    src: url(../fonts/Robus.otf) format("truetype");
}
@font-face {
    font-family: Aquire;
    src: url(../fonts/Aquire.otf) format("truetype");
}
@font-face {
    font-family:Manda1;
    src: url(../fonts/Mandalorehalftone.otf) format("truetype");
}
@font-face {
    font-family:Ubuntu;
    src: url(../fonts/Ubuntu.ttf) format("truetype");
}
.cursor{
    cursor:url("../images101/cursor.png");
}
:root {
  --accent1: #ff1515;
  --accent2: rgb(228, 228, 1);
  --accent3: yellow;
  --accent4: yellow;
  --accent5: yellow;
  --accent6: yellow;
  --accent7: yellow;
  --accent8: yellow;
  --bgaccent: rgb(3, 0, 17);
  --slidemenubg: rgba(0, 0, 0, 0.7);
}
/* width */
::-webkit-scrollbar {
  width: 6px !important;
  display: block;
  /*-webkit-appearance: none;*/
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgaccent) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#ff1515!important;
  border-radius: 5px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#ff1515!important;
}

body,
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  height: 100vh;
  /*background: -webkit-linear-gradient(0deg,rgb(26, 5, 24),rgb(13, 6, 26));*/
  /*background: url('../background.svg');*/
  background-color: var(--bgaccent);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: rgba(0 ,0,0,0.24);*/
  z-index: 2;
}
.navlogo {
  font-family: Robus;
  /* font-weight: bold; */
  font-size: 3rem;
  color: #ff1515;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  z-index: 2;
}
nav ul {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-around;
}
.tab,
.menu-tabs {
  list-style: none;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab:hover {
  align-items: flex-end;
}
.tab a {
  font-size: 1rem;
  font-family: Aquire,sans-serif;
  font-weight: bold;
  color: #ff1515;
  
  letter-spacing: 0.1rem;
  /* line-height: 1.3rem; */
  font-weight: 400;
  transition: 0.4s ease;
}

.tab:hover a {
    color: var(--accent1);
  /* text-shadow: var(--hover_shadow); */
}
.bar {
  height: 2px;
  width: 0%;
  margin-top: 2%;
  border-radius: 6px;
  background-color: #ff1515;
  transition: 0.2s ease-in;
  /* box-shadow: var(--hover_shadow); */
}
.tab:hover .bar {
  width: 100%;
}

.viewbox-ico {
  /* cursor: pointer; */
  margin-left: 3rem;
  z-index: 2;
  display: none;
}
.line1 {
  stroke-dasharray: 85;
  stroke-dashoffset: 57;
  transition: all 1s ease;
  /* stroke: var(--accent1); */
}
.line2 {
  stroke-dasharray: 28;
  stroke-dashoffset: 8;
  transition: all 1s ease;
  /* stroke: var(--accent1); */
}
.line3 {
  stroke-dasharray: 85;
  stroke-dashoffset: 58;
  transition: all 1s ease;
  /* stroke: var(--accent1); */
}
.cross {
  stroke-dashoffset: -50;
}
.cross2 {
  stroke-dashoffset: -140;
}

.slide-menu {
  font-family: "Ropa Sans", sans-serif;
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  font-size: 1.6rem;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .slide-menu {
    width: 60%;
  }
  .viewbox-ico {
     
    display: none;
  }
}

@media screen and (max-width: 768px) {
    .viewbox-ico {
     
        display: block;
      }
  .slide-menu {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transform: translateX(-115%);
    transition: all 0.2s ease-in;   
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background: linear-gradient(169deg, rgba(0,0,0,1) 0%, rgba(0,5,50,0.7822479333530288) 100%);
    /* border-radius: 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    z-index: 10;
  }
  .tab a {
    color: #ff1515;
    font-weight: bold;
  }
  .slide-menu ul {
    height: 95%;
    /* z-index: 11; */
  }
  .menu-active {
    transform: translateY(0%);
    transform: translateX(-10%);
  }
}
.svgcont {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 30vw;
  height: 100%;
  background-color: var(--accent2);
  /* transform: skewY(20deg); */
  color: var(--accent1);
  z-index: 1;
}

.landing {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
  background-image: url("../images101/cover image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: animatedBackground 10s linear infinite alternate;
}
@keyframes animatedBackground {
    from {
       background-size: 120%;
    }
    to {
        background-size: 130%;
    }
  }
.landing:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
    z-index: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.651));
    /* transition: all 0.3s ease; */
  }
.left
{position: absolute;
    top: 10%;
  z-index: 4;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan {
  color: var(--accent1);
  font-family:Robus, sans-serif;
  font-size: 8rem;
  /* font-weight: 800; */
  z-index: 4;
  line-height: 3.5rem;
  margin-bottom:10px ;
}
.emphasis {
  color:rgb(255, 255, 255);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  width: 75%;
  z-index: 4;
  margin-top: 1.2rem;
  
}
/* .btn {
  padding: 0.8rem 1rem;
  background-color: var(--accent1);
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0px 5px 5px rgba(170, 170, 170, 0.445);
} */
.custom-btn {
    margin-top: 2rem;
    width: 140px;
    height: 40px;
    color: rgb(255, 0, 0);
    /* border-radius: 5px; */
    padding: 10px 25px;
    font-family: Aquire, sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid red;
    box-shadow: 1px 1px 10px rgb(255, 0, 0);
  }
  .btn-15 {
    background: #000000;
    /* border: none; */
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    /* border-radius: 5px; */
    background-color: #ff0000;
    
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
    box-shadow:0px 0px 0px rgb(255, 0, 0);
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  

@media screen and (max-width: 768px) {
  .landing {
    justify-content: center;
  }
  .left {
    width: 100%;
    align-items: center;
  }
  .right {
    display: none;
  }
}

.services {
  display: block;
  height: 80vh;
  width: 100%;
}
.gimg {
  width: 100%;
  height: 100%;
}
